.cars {
  &__icon {
    width: 90px;
    display: flex;
    align-items: flex-end;
  }

  &__header {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    align-items: center;
  }

  &__btn-container {
    & .button {
      width: 50px;
      height: 20px;
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  &__container {
    display: flex;
    border-bottom: dotted gray 5px;
    height: 50px;
  }

  &__race-container {
    display: flex;
    align-self: flex-end;
    padding-left: 10px;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__flag {
    width: 140px;
    padding-right: 100px;
  }
}
