.form {
  &__color {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
  }
  &__wrapper {
    display: flex;
    margin: 10px;
    gap: 10px;
    max-width: 300px;
  }
  & .button {
    flex-grow: 1;
  }
}

.winner-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc4c491;
  font-size: 40px;
  text-align: center;
  width: fit-content;
  z-index: 10;
  font-weight: bold;
}
